body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

div {
    display: block;
}

div.row {
    margin: 0px !important;
}

.container .row {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.section {
  padding: 0;
}

.section.no-pad {
  padding: 0;
}

.section.no-pad-bot {
  padding-bottom: 0;
}

.section.no-pad-top {
  padding-top: 0;
}

.row {
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}

/*nav .nav-wrapper {
    -webkit-box-shadow: 0 2px 0px 0 rgba(0,0,0,0.14), 0 1px 0px 0 rgba(0,0,0,0.12), 0 3px 0px -2px rgba(0,0,0,0.2); 
     box-shadow: 0 2px 0px 0 rgba(0,0,0,0.14), 0 1px 0px 0 rgba(0,0,0,0.12), 0 3px 0px -2px rgba(0,0,0,0.2); 
}*/

/*.navbar-fixed .nav-wrapper > ul > li:hover {
  background-color: #b7b7b7;
}*/

div#overview-home.container {
    background-color: #292B2C;
    width: 100%
}

nav {
    background-color: #292B2C;
}

img {
    max-height: 900px;
    width: auto;
}

div#go-top {
    position: absolute;
    text-align: center;
    right: 1px;
    left: 1px;
    display: inline-block;
    z-index: 1;
}

div.row {
    margin: 20px 0px 20px 0px;
}

.parallax img {
    opacity: 0.7;
}

a {
    color: white;
}

i#top-icon {
    border: 1px solid grey;
    background-color: grey;
    border-radius: 50%;
    padding: 10px;
    margin-top: -80px;
    color: teal;
}

img.traffic-light {
    max-height: 75px;
    width: auto;
    border-radius: 50%;
    padding: 10px;
}

h1.header {
    text-align: center;
    margin-top: 2em;
}

div#section-2.section.scrollsby {
    background-color: #D3D3D3;
    margin: 0px;
    width: 100%; 
}

footer {

}

/*.z-depth-1, nav, .card-panel, .card, .toast, .btn, .btn-large, .btn-floating, .dropdown-content, .collapsible, .side-nav {
     -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2); 
     box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2); 
}*/

.table-of-contents a.active {
    color: snow;
    font-weight: 500;
    padding-left: 18px;
    border-left: 0px;
}

.table-of-contents a:hover {
    font-weight: 200;
    color: #a8a8a8;
    padding-left: 19px;
    border-left: 0px solid black;
}

.table-of-contents a {
    color: snow;
    font-weight: 200;
    padding-left: 18px;
    border-left: 0px;
    border-left-width: 0px;
    border: 0;
}

/*dashboard*/

.card {
    position: relative;
    overflow: hidden;
    margin: 0.5rem 0 1rem 0;
    background-color: #fff;
    border-radius: 2px;
    height: 100%;
}

img.activator {
    max-height: 100px;
}

div.card-profile-image {
    border-radius: 50%;
}

img.avatarapi {
    border-radius: 50%;
}

#profilecard .card-image {
    overflow: hidden;
    height: 100px;
}

.z-depth-1, nav, .card-panel, .card, .toast, .btn, .btn-large, .btn-floating, .dropdown-content, .collapsible, .side-nav {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

/*background video*/

.homepage-hero-module {
    border-right: none;
    border-left: none;
    position: relative;
}

.no-video .video-container video,
.touch .video-container video {
    display: none;
}

.no-video .video-container .poster,
.touch .video-container .poster {
    display: block !important;
}

.video-container {
    position: relative;
    bottom: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: #000;
}
.video-container .poster img {
    width: 100%;
    bottom: 0;
    position: absolute;
}
.video-container .filter {
    z-index: 100;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
}
.video-container video {
    position: absolute;
    z-index: 0;
    bottom: 0;
}
.video-container video.fillWidth {
    width: 100%;
}

/*media queries*/

div#overview-home.container {
  margin: 0 auto;
  width: 100%;
}

@media only screen and (min-width: 601px) {
    div#overview-home.container {
    background-color: #292B2C;
    width: 100%;
  }
}

@media only screen and (min-width: 993px) {
    div#overview-home.container {
    background-color: #292B2C;
    width: 100%;
    }
}
