<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

<h1>Welcome to itsaGO!</h1>
{{{subject}}}
<!-- <h3>Here's your account information:</h3>
<ul>
  <li>
  	<p>First Name: {{userFirst}}</p>
  </li>
  <li>
  	<p>Last Name: {{userLast}}</p>
  </li>
  <li>
  	<p>Email: {{userEmail}}</p>
  </li>
</ul> -->

<p>
We hope you enjoy using itsaGO for all your event planning needs!
<br/>
Visit your <a href="https://itsa-go.herokuapp.com/dashboard" target="_blank">dashboard</a> to create events and view your calendar.
</p>
<br>
<p>
Sincerely,
</p>
<p>ItsaGO Founders</p>

</body>
</html>
