<!-- NAVBAR -->
<div class="navbar-fixed">
    <nav role="navigation">
        <div class="nav-wrapper container">
            <a id="logo-container movetext" href="/" class="brand-logo">ItsaGO</a>
            <ul class="right hide-on-med-and-down section table-of-contents">
                <li><a href="/">Home</a></li>
                <li><a href="login">Logout</a></li>
                <li><a class="active" href="dashboard">Dashboard</a></li>
                <li><a href="about">About</a></li>
                <li><a href="https://github.com/JacqueWhite/Its-a-GO" target="_blank">GitHub</a></li>
            </ul>
            <ul id="nav-mobile" class="side-nav">
                <li><a href="/">Home</a></li>
                <li><a href="login">Logout</a></li>
                <li><a class="active" href="dashboard">Dashboard</a></li>
                <li><a href="about">About</a></li>
                <li><a href="https://github.com/JacqueWhite/Its-a-GO" target="_blank">GitHub</a></li>
            </ul>
            <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
        </div>
    </nav>
</div>
    <!-- END NAVBAR -->

<!-- main container -->
<div class="row">

  {{!-- profile section --}}
  <div class="col s12 m6 l6">
      <div id="profile-card" class="card">
          <div class="card-image waves-effect waves-block waves-light">
              <img class="activator responsive-img" src="https://s3.us-east-2.amazonaws.com/jacqueportfolio/purty_wood_%402X.png" alt="user background">
          </div>
          <div class="card-content">
              <div class="circle responsive-img activator card-profile-image">
                  <script src="https://www.avatarapi.com/js.aspx?email={{this.email}}&size=200">
                  </script>
              </div>
              </script>
              <span class="card-title activator grey-text text-darken-4">{{this.firstname}}</span>
              <p><i class="mdi-communication-email cyan-text text-darken-2"></i>{{this.email}}</p>
          </div>
      </div>
  </div>

  <div class="col s12 m6 l6">
    <div id="event-card" class="card">
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">Upcoming Events</span>
         <div class="collection">
            <a href="/1" class="collection-item">event 1</a>
            <a href="/2" class="collection-item">event 2</a>
            <a href="/3" class="collection-item">event 3</a>
            <a href="/4" class="collection-item">event 4</a>
          </div>
        <a href="/create" class="waves-effect waves-light btn ">Create Event</a>
      </div>
    </div>
  </div>

</div>






