<!DOCTYPE html>
<html lang="en">
  
<head>
  <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Your Title Here</title>
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <!-- Materialize Icons  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- CSS  -->
  <link href="assets/css/style.css" type="text/css" rel="stylesheet" media="screen,projection">
</head>

<body>

<div class="navbar-fixed">
  <nav role="navigation">
      <div class="nav-wrapper container">
        <a id="logo-container movetext" href="#index-banner" class="brand-logo">Title</a>
        <ul class="right hide-on-med-and-down section table-of-contents">
          <li><a class="active" href="login">Home</a><li>
          <li><a href="login">Login</a><li>
          <li><a href="about">About</a></li>
          <li><a href="https://github.com/JacqueWhite/Its-a-GO" target="_blank"></a>GitHub</li>
        </ul>
        <ul id="nav-mobile" class="side-nav">
          <li><a class="active" href="login">Home</a><li>
          <li><a href="login">Login</a><li>
          <li><a href="about">About</a></li>
          <li><a href="https://github.com/JacqueWhite/Its-a-GO" target="_blank"></a>GitHub</li>
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
      </div>
  </nav>
</div>
  
<div id="index-banner" class="parallax-container valign-wrapper"> 
  <div class="section no-pad-bot scrollspy" id="section-1">
   <div class="container"> 
    <div class="row center">
      <div class="header col s12 light"></div>
    </div>
    <div class="row center">
      <div class="header col s12 light"></div>
    </div>
   </div>
  </div>
  <div class="parallax"><img src="https://s3.us-east-2.amazonaws.com/jcw.github/carlos-alberto-gomez-iniguez-253158.jpg" class="img-responsive" alt=""></div>
</div>

<div class="container">
  <div class="section scrollspy" id="section-2">
    <div class="row center">
      <div class="col s12 m4">
        <img src="https://s3.us-east-2.amazonaws.com/jcw.github/red_light.png"/>
        <p>Create the event, set the max cost per person.</p>
      </div>
      <div class="col s12 m4">
        <img src="https://s3.us-east-2.amazonaws.com/jcw.github/yellow_light.png"/>
        <p>Send invites and get RSVPs</p>
      </div>
      <div class="col s12 m4">
        <img src="https://s3.us-east-2.amazonaws.com/jcw.github/green_light.png"/>
        <p>Once the max cost per person is met, Its a Go! RSVP'd attendees are charged a $1 holding deposit until the event happens.</p>
      </div>
    </div>
  </div>
</div>

<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot scrollspy" id="section-3">
    <div class="container">
      <div class="row center">
        <div class="col s12 m4"></div>
        <div class="col s12 m4"></div>
        <div class="col s12 m4"></div>
      </div>
    </div>
  </div>
  <div class="parallax"><img src="https://s3.us-east-2.amazonaws.com/jcw.github/jonatan-hernandez-330422.jpg" class="img-responsive" alt=""></div>
</div>

  <div id="go-top" class="row center">
    <a id="to-top" class="scrollspy" title="Back to Top" href="#index-banner"><i class="material-icons" id="top-icon">keyboard_arrow_up</i></a>
  </div>

<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">h5</h5>
        <p class="grey-text text-lighten-4">Request a demo.</p>
      </div>

      <div class="col l3 s12">
        <h5 class="white-text">h5</h5>
        <ul>
          <li><a class="white-text" href="#!">Contact</a></li>
          <li><a class="white-text" href="#!">About</a></li>
          <li><a class="white-text" href="#!">Login</a></li>
          <li><a class="white-text" href="#!">FAQ</a></li>
          <li><a class="white-text" href="https://github.com/JacqueWhite/Its-a-GO">GitHub</a></li>
        </ul>
      </div>

    </div>
  </div>

  <div class="footer-copyright">
    <div class="container">
    Copyright Its-a-GO 2017
    </div>
  </div>

</footer>