<div id="index-banner" class="parallax-container"> 

<div class="navbar-fixed">
  <nav role="navigation">
      <div class="nav-wrapper container">
        <a id="logo-container movetext" href="/" class="brand-logo">ItsaGO</a>
        <ul class="right hide-on-med-and-down section table-of-contents">
          <li><a class="active" href="/">Home</a></li>
          <li><a href="login">Login</a></li>
          <li><a href="about">About</a></li>
          <li><a href="https://github.com/JacqueWhite/Its-a-GO" target="_blank">GitHub</a></li>
        </ul>
        <ul id="nav-mobile" class="side-nav">
          <li><a class="active" href="/">Home</a></li>
          <li><a href="login">Login</a></li>
          <li><a href="about">About</a></li>
          <li><a href="https://github.com/JacqueWhite/Its-a-GO" target="_blank">GitHub</a></li>
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
      </div>
  </nav>
</div>

  <div class="section no-pad-bot scrollspy" id="section-1">
  <div class="vignette"></div>
   <div class="container"> 
    <div class="row center" id="header-row">
      <div class="header col s12">
      <h1 class="header teal-text text-darken-4">ItsaGO</h1>
      <h5 class="header teal-text text-darken-4">making split payments easy and your event feasible</h5>
      </div>
    </div>
   </div>
  </div>


  <div class="parallax"><img src="https://s3.us-east-2.amazonaws.com/jcw.github/carlos-alberto-gomez-iniguez-253158.jpg" class="img-responsive" alt=""></div>



</div>

<div class="container" id="overview-home">
  <div class="section scrollspy" id="section-2">
    <div class="row center">
      <div class="col s12 m4 l4">
        <img class="traffic-light" src="https://s3.us-east-2.amazonaws.com/jcw.github/red_light.png"/>
        <p class="flow-text">Create the event: set the max cost per person</p>
      </div>
      <div class="col s12 m4 l4">
        <img class="traffic-light" src="https://s3.us-east-2.amazonaws.com/jcw.github/yellow_light.png"/>
        <p class="flow-text">Send invites</p>
      </div>
      <div class="col s12 m4 l4">
        <img class="traffic-light" src="https://s3.us-east-2.amazonaws.com/jcw.github/green_light.png"/>
        <p class="flow-text">When Total Cost / Total RSVPS = max cost/person ItsaGo!</p>
      </div>
    </div>
  </div>
</div>

<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot scrollspy" id="section-3">
    <div class="container">
      <div class="row center">
        <div class="col s12 m4"></div>
        <div class="col s12 m4"></div>
        <div class="col s12 m4"></div>
      </div>
    </div>
  </div>
  <div class="parallax"><img src="https://s3.us-east-2.amazonaws.com/jcw.github/jonatan-hernandez-330422.jpg" class="img-responsive" alt=""></div>
</div>

  <div id="go-top" class="row center">
    <a id="to-top" class="scrollspy" title="Back to Top" href="#index-banner"><i class="material-icons" id="top-icon">keyboard_arrow_up</i></a>
  </div>

<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">h5</h5>
        <p class="grey-text text-lighten-4">Request a demo.</p>
      </div>

      <div class="col l3 s12">
        <h5 class="white-text">h5</h5>
        <ul>
          <li><a class="white-text" href="about">Contact</a></li>
          <li><a class="white-text" href="about">About</a></li>
          <li><a class="white-text" href="login">Login</a></li>
          <li><a class="white-text" href="https://github.com/JacqueWhite/Its-a-GO">GitHub</a></li>
        </ul>
      </div>

    </div>
  </div>

  <div class="footer-copyright">
    <div class="container">
    Copyright Its-a-GO 2017
    </div>
  </div>

</footer>