
  <div class="navbar-fixed">
    <nav role="navigation">
        <div class="nav-wrapper">
          <a id="logo-container movetext" href="/" class="brand-logo">ItsaGO</a>
          <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
          <ul class="right hide-on-med-and-down section table-of-contents">
            <li><a class="active" href="/">Home</a></li>
            <li><a href="login">Login</a></li>
            <li><a href="about">About</a></li>
            <li><a href="https://github.com/JacqueWhite/Its-a-GO" target="_blank">GitHub</a></li>
          </ul>
          <ul id="nav-mobile" class="side-nav">
            <li><a class="active" href="/">Home</a></li>
            <li><a href="login">Login</a></li>
            <li><a href="about">About</a></li>
            <li><a href="https://github.com/JacqueWhite/Its-a-GO" target="_blank">GitHub</a></li>
          </ul>
        </div>
    </nav>
  </div>


<main>

<div class="parallax-container"> 
    <div class="row center" id="header-row">
      <div class="header col s12">
        <h1 class="header white-text">ItsaGO</h1>
        <h5 class="header white-text">making split payments easy and your event feasible</h5>
      </div>
    </div>
  <div class="parallax">
    <div class="homepage-hero-module">
        <div class="video-container">
            <div class="filter"></div>
            <video autoplay loop class="fillWidth">
                <source src="/css/video/Yellow-Cars.mp4" type="video/mp4" />Your browser does not support the video tag. I suggest you upgrade your browser.
                <source src="/css/video/Yellow-Cars.webm" type="video/webm" />Your browser does not support the video tag. I suggest you upgrade your browser.
            </video>
            <div class="poster hidden">
                <img src="/css/video/Yellow-Cars.jpg" alt="video still">
            </div>
        </div>
    </div>
  </div>
</div>

<div class="section no-pad-bot scrollspy #212121 grey darken-4" id="overview-home">
    <div class="row center #212121 grey darken-4">
      <div class="col s12 m4 l4">
        <img class="traffic-light" src="https://s3.us-east-2.amazonaws.com/jcw.github/red_light.png"/>
        <p class="flow-text white-text">Create the event: set the max cost per person</p>
      </div>
      <div class="col s12 m4 l4">
        <img class="traffic-light" src="https://s3.us-east-2.amazonaws.com/jcw.github/yellow_light.png"/>
        <p class="flow-text white-text">Send invites</p>
      </div>
      <div class="col s12 m4 l4">
        <img class="traffic-light" src="https://s3.us-east-2.amazonaws.com/jcw.github/green_light.png"/>
        <p class="flow-text white-text">When Total Cost / Total RSVPS = max cost/person ItsaGo!</p>
      </div>
    </div>
</div>


<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot scrollspy">
    <div class="container">
      <div class="row center">
        <div class="col s12 m4"></div>
        <div class="col s12 m4"></div>
        <div class="col s12 m4"></div>
      </div>
    </div>
  </div>
  <div class="parallax">
    <div class="homepage-hero-module">
        <div class="video-container">
            <div class="filter"></div>
            <video autoplay loop class="fillWidth">
                <source src="/css/video/Yellow_Traffic.mp4" type="video/mp4" />Your browser does not support the video tag. I suggest you upgrade your browser.
                <source src="/css/video/Yellow_Traffic.webm" type="video/webm" />Your browser does not support the video tag. I suggest you upgrade your browser.
            </video>
            <div class="poster hidden">
                <img src="/css/video/Yellow_Traffic.jpg" alt="video still">
            </div>
        </div>
    </div>
  </div>
</div>

<footer class="page-footer #212121 grey darken-4">
  <div class="container #212121 grey darken-4">
    <div class="row #212121 grey darken-4">
      <div class="col l6 s12">
        <h5 class="white-text">The Story</h5>
        <p class="grey-text text-lighten-4">Never be stuck paying more than you agreed upon by setting a max cost per person, get RSVPs and initial deposits.</p>
      </div>
      <div class="col l6 s12">
        <h5 class="white-text">Navigate</h5>
        <ul>
          <li><a class="white-text" href="about">Contact</a></li>
          <li><a class="white-text" href="about">About</a></li>
          <li><a class="white-text" href="login">Login</a></li>
          <li><a class="white-text" href="https://github.com/JacqueWhite/Its-a-GO">GitHub</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="footer-copyright #424242 grey darken-3">
    <div class="container #424242 grey darken-3">
    Copyright Its-a-GO 2017
    </div>
  </div>
</footer>