<div class="navbar-fixed">
  <nav role="navigation">
      <div class="nav-wrapper container">
        <a id="logo-container movetext" href="/" class="brand-logo">ItsaGO</a>
        <ul class="right hide-on-med-and-down section table-of-contents">
          <li><a href="/">Home</a></li>
          <li><a class="active" href="login">Login</a></li>
          <li><a href="about">About</a></li>
          <li><a href="https://github.com/JacqueWhite/Its-a-GO" target="_blank">GitHub</a></li>
        </ul>
        <ul id="nav-mobile" class="side-nav">
          <li><a href="/">Home</a></li>
          <li><a class="active" href="login">Login</a></li>
          <li><a href="about">About</a></li>
          <li><a href="https://github.com/JacqueWhite/Its-a-GO" target="_blank">GitHub</a></li>
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
      </div>
  </nav>
</div>

<div class="container">
  <div class="row center">
    <div class="col s12 black-text">
      <h2>User login:</h2>
      <form class="" action="/api/user/login" method="post">
        <label for="email">Email:</label>
        <input type="text" name="email">
        <br>
        <label for="pass">Password:</label>
        <input type="password" name="password">
        
        <button type="submit" name="button" class="waves-effect waves-light btn-light orange">Submit</button>
      </form>
      <br>
      <p class="black-text">Not a user? <a href="/signup">Signup.</a></p>
    </div>
  </div>
</div>