<div class="navbar-fixed">
    <nav role="navigation">
        <div class="nav-wrapper container">
            <a id="logo-container movetext" href="/" class="brand-logo">ItsaGO</a>
            <ul class="right hide-on-med-and-down section table-of-contents">
                <li><a class="active" href="/">Home</a></li>
                <li><a href="login">Login</a></li>
                <li><a href="about">About</a></li>
                <li><a href="https://github.com/JacqueWhite/Its-a-GO" target="_blank">GitHub</a></li>
            </ul>
            <ul id="nav-mobile" class="side-nav">
                <li><a class="active" href="/">Home</a></li>
                <li><a href="login">Login</a></li>
                <li><a href="about">About</a></li>
                <li><a href="https://github.com/JacqueWhite/Its-a-GO" target="_blank">GitHub</a></li>
            </ul>
            <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
        </div>
    </nav>
</div>

<div class="container">
    <div class="row center">
        <div class="col s12">
            <h3>Create a user:</h3>
        </div>
    </div>
    <div class="row center">
        <div class="col s12">
            <hr>
            <form action="/api/user/new" method="post">
                <label for="firstname"> First Name:</label>
                <input type="text" name="firstname">
                <br>
                <label for="lastname"> Last Name:</label>
                <input type="text" name="lastname">
                <br>
                <label for="email"> Email:</label>
                <input type="text" name="email">
                <br>
                <label for="pass"> Password:</label>
                <input type="password" name="password">
                <button type="submit" name="button">Submit</button>
            </form>
        </div>
    </div>
</div>