<!-- NAVBAR -->

<div class="parallax-container">

  <div class="navbar">
    <nav>
      <div class="nav-wrapper">
       <a href="/" class="brand-logo">itsaGO</a> 
      <ul class="right hide-on-med-and-down navList">
        <li><a href="login">Login</a><li>
        {{!-- <li><a href="signout">Log Out</a></li> --}}
        <li><a href="about">About</a></li>
        {{!-- <li><a href="/">Home</a></li> --}}
        <li><a href= "https://github.com/JacqueWhite/Its-a-GO" target="_blank"></a>GitHub</li>
      </ul>

    <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>

    </nav>
  </div>

<!-- END NAVBAR -->

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Your Title Here</title>

  <!-- CSS  -->
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection">
</head>

<div id="index-banner" class="parallax-container">      
  <div class="section no-pad-bot">
   <div class="container"> 
    <div class="row center">
      <div class="header col s12 light"></div>
    </div>
    <div class="row center">
      <div class="header col s12 light"></div>
    </div>
    <br/><br/>
   </div>
  </div>
<div class="parallax"><img src="css/img/itsago2.jpg" style="display: block; transform: translate3d(-50%, 410px, 0px);"></div>
</div>

<div class="container">
  <div class="section">
    <div class="row">
      <div class="col s12 m4"></div>
      <div class="col s12 m4"></div>
      <div class="col s12 m4"></div>
    </div>
  </div>
</div>

<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row">
        <div class="col s12 m4"></div>
        <div class="col s12 m4"></div>
        <div class="col s12 m4"></div>
      </div>
    </div>
  </div>
<div class="parallax"><img src="yourimage" alt="" style="display: block; transform: translate3d(-50%, 21px, 0px);"></div>
</div>

<div class="container">
  <div class="section">
    <div class="row">
      <div class="col s12 m4"></div>
      <div class="col s12 m4"></div>
      <div class="col s12 m4"></div>
    </div>
  </div>
</div>

<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row">
        <div class="col s12 m4"></div>
        <div class="col s12 m4"></div>
        <div class="col s12 m4"></div>
      </div>
    </div>
  </div>
<div class="parallax"><img src="yourimage" alt="" style="display: block; transform: translate3d(-50%, 21px, 0px);"></div>
</div>

<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">h5</h5>
        <p class="grey-text text-lighten-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo consequuntur quisquam accusamus facilis fugiat natus ab, provident pariatur quaerat laborum! Consequuntur enim esse et molestiae, voluptatibus temporibus totam. In, nostrum!</p>
      </div>
      <div class="col l3 s12">
        <h5 class="white-text">h5</h5>
        <ul>
          <li><a class="white-text" href="#!">link</a></li>
          <li><a class="white-text" href="#!">link</a></li>
          <li><a class="white-text" href="#!">link</a></li>
          <li><a class="white-text" href="#!">link</a></li>
        </ul>
      </div>
      <div class="col l3 s12">
        <h5 class="white-text">h5</h5>
        <ul>
          <li><a class="white-text" href="#!">link</a></li>
          <li><a class="white-text" href="#!">link</a></li>
          <li><a class="white-text" href="#!">link</a></li>
          <li><a class="white-text" href="#!">link</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    copyright
    </div>
  </div>
</footer>

<!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>



        <div class="row">
          <h1 class="header center white-text">itsaGO</h1>
          <h5 class="header">make split payments easy</h5>
          <a href="/login" id="download-button" class="btn-large waves-effect waves-light">Get Started</a>
        </div>
  
      <div class="row">

        <div class="col s12 m4 l4">
          <img src="./css/img/redlight.jpg" alt="" class="traffic-light">
          <h5>Red</h5>
          <p class="light">Create the event, set the max cost per person.</p>
        </div>

        <div class="col s12 m4 l4">
          <img src="./css/img/yellowlight.jpeg" alt="" class="traffic-light">
          <h5>Yellow</h5>
          <p class="light">Send invites and get RSVPs</p>
        </div>

        <div class="col s12 m4 l4">
          <img src="./css/img/greenlight.jpg" alt="" class="traffic-light">
          <h5>Green</h5>
          <p class="light">
          Once the max cost per person is met, Its a Go! RSVP'd attendees are charged a $1 holding deposit until the event happens.
          </p>
        </div>

      </div>

  </div>

</div>