<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>itsaGO</title>
  <link href="/css/img/favicon.ico" rel="icon"/>
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <!-- Materialize Icons  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans|Work+Sans" rel="stylesheet">
  <!-- CSS  -->
  <link href="/css/master.css" type="text/css" rel="stylesheet" media="screen,projection">
</head>

<body>
{{{body}}}
</body>

    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

    <script type="text/javascript" src="js/materialize.js"></script>

    <script>
      $(document).ready(function(){
        $('.parallax').parallax();
        $('.scrollspy').scrollSpy();
        $(".button-collapse").sideNav();
      });
    </script>

</html>
